* {
    font-family: "Noto Sans";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100px;
    padding: 0 15%;
    background: #333;
}

.headerplace {
    width: 100%;
    height: 100px;
}

.logo {
    height: 80px;
    margin-top: -10px;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
    text-decoration: none;
    color: #efefef;
}

.footer {
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    background: #333;
    color: #efefef;
    display: flex;
}

.footer div {
    text-align: center;
}

.col-2 {
    flex-grow: 2;
}

.col-1 a,.col-3 a{
    font-weight: 400;
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}